body {
    text-align: left;
}

#heading {
    text-align: center;
}

li {
    margin-bottom: 20px;
}

#post-content {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: -15px;
}

#posts-list-container {
    margin-top: 40px;
}

li small {
    font-family: 'Courier New', Courier, monospace;
}
