<div>
    <p>Hi <%= comment.user.name %>! </p>
    <br>
    <br>
    <p>Your comment : </p>
    <br>
    <strong><%= comment.content %></strong>
    <br>
    <p>was just published on Codeial!</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>